* {
  font-family: 'Karla', sans-serif;
}
h1 {
  font-family:'Oswald', sans-serif;
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 2px solid gold;
}
/*--------------------------nav styles------------------------------------------*/
a {
  color: gold;
}
a:hover {
  color: dodgerblue;
  text-decoration: none;
}
#nav {
  list-style: none;
  display: inline;
  float: right;
  font-size: 20px;
  z-index: 5;
}
.menu {
    color:black;
    cursor: pointer;
    /*display: none;*/
    font-size: 20px;
  }
  /*--------------------------hero styles------------------------------------------*/

#hero {
height: 100vh;
background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/hero.jpg');
background-position: center;
background-size: cover;
position: relative;
z-index: -2;
}
.name {
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.link {
  font-size: 22px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: gold;

}
/*--------------------------Skills styles------------------------------------------*/
#skills {
  background-color: gainsboro;
}
.skills-list {
  border: solid 2px grey;
  background-color: gold;
  border-radius: 10%;
  margin: 10px;
  padding: 0px 10px 0px 10px;
}
p {
  text-align: center;
}

/*--------------------------Portfolio styles------------------------------------------*/

.col-md-5 {
  border: grey solid 2px;
  height: 300px;
  margin: 5px;
}
.container-fluid {
  margin-left: 50px;
}
#hangman {
background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/hangman.png');
/*background-position: center;*/
background-size: cover;
position: relative;
}
#rockstagram {
background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/rockstagram.png');
/*background-position: center;*/
background-size: cover;
position: relative;
}
#datenight {
background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/datenight.png');
/*background-position: center;*/
background-size: cover;
position: relative;
}
#aurora {
background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/aurora-explorer.png');
/*background-position: center;*/
background-size: cover;
position: relative;
}
.modal-list {
  list-style: none
}
li {
  display: inline-block;
  margin: 15px;
}
.btn {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 100%;
  background-color: rgba(202, 204, 206, 0.4);

}
.btn:hover {
  background-color: rgba(237, 206, 83, 0.7)
}
.screenshot-left {
  float: left;
  height: 200px;
  width: 400px;
  border: 1px solid grey;
}
.screenshot-right {
  float: right;
  height: 200px;
  width: 400px;
  border: 1px solid grey;
}
/*--------------------------CV styles------------------------------------------*/
#experience {
  background-color: gainsboro;
}

/*--------------------------links styles------------------------------------------*/

.fa {
  display: inline;
  margin: 20 0 20 0;
  color: black;
}
